<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Aprovada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reprovado.css') }}">
</head>
<body>
    <div class="container">
        <h1>Compra Reprovada!</h1>
        <p>Você não possui saldo suficiente para fazer essa compra!</p>

        <a href="/loja" class="btn">Voltar para a Página Inicial</a>
    </div>
</body>
</html>
