<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Caju Store</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}"> <!-- Link para o CSS -->
</head>
<body>
    <form action="" method="post">
        <h2>Login Caju Store</h2> <!-- Título do formulário -->
        Usuário: <input type="text" name="username" required>
        Senha: <input type="password" name="userpass" required>
        <input type="submit" value="Entrar">
    </form>
</body>
</html>
