<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compra Aprovada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pago.css') }}">
</head>
<body>
    <div class="container">
        <h1>Compra Aprovada!</h1>
        <p>Obrigado pela sua compra. Sua transação foi concluída com sucesso.</p>

        <a href="/loja" class="btn">Voltar para a Página Inicial</a>
    </div>
</body>
</html>
